<div class="info">
    <p>Hello!</p>
    <p>My name is Noah.</p>
    <p>I am a software developer with a passion for stories and social justice.</p>
    <p>Email me by clicking <a href="mailto:noah@noahberman.org">here</a>.</p>
    <p>You can take a look at my projects on <a href="https://github.com/bermannoah" target="_blank">github</a>.</p>
    <p>(I would especially recommend <a href="https://github.com/bermannoah/418-bot" target="_blank">418 Bot</a>!)</p>
    <p>My resume is available on <a href="https://www.linkedin.com/in/bermannoah" target="_blank">linkedin</a>.</p>
    <p>I look forward to working with you.</p>  
</div>