<div class="alignment-info">
  <div class="info">
      <p>Hello, I'm Noah Berman.</p>
      <p>I am a software developer.</p>
      <p>I also sometimes write and make movies.</p>
      <p>You can see some recent below or on my <a href="https://github.com/bermannoah", class="info-link", target="_blank">github</a>.</p>
      <p>Get in touch: <a href="mailto:noah@noahberman.org", class="info-link">email</a>, <a href="https://keybase.io/ofmistakes", class="info-link", target="_blank">keys and identity</a>, <a href="https://twitter.com/ofmistakes", class="info-link", target="_blank">twitter</a>
      <p>Resume: <a href="https://s3-us-west-2.amazonaws.com/personal-site-nb-34accb1ffdd28906d17231/resume/NoahBerman_Resume.pdf", class="info-link", target="_blank">pdf</a>, <a href="https://www.linkedin.com/in/bermannoah/", class="info-link", target="_blank">linkedin</a>
  </p>
  </div>
</div>

<div class="alignment-portfolio">
  <div class="portfolio">
    <%= render "projects/coffee_bot" %>
    <%= render "projects/vicariousli" %>
    <%= render "projects/rales_engine" %>
    <%= render "projects/adam_curtis_bot" %>
  </div>
</div>