<div class="info">
    <p>Hello, I'm Noah Berman.</p>
    <p>I am a software developer.</p>
    <p>I also sometimes write and make movies.</p>
    <p>You can see most of my work in my <a href="/portfolio">portfolio</a> or check out my <a href="https://github.com/bermannoah" target="_blank">github</a>.</p>
    <br />
    <p><a href="mailto:noah@noahberman.org">email</a>, <a href="https://keybase.io/ofmistakes", target="_blank">keys and identity confirmation</a>, <a href="https://twitter.com/ofmistakes", target="_blank">twitter</a>,     <a href="https://www.linkedin.com/in/bermannoah/", target="_blank">linkedin</a>
</p>
</div>
