<div class="alignment-info">
  <div class="info">
      <p>Hello, I'm Noah.</p>
      <p>I'm a backend developer at <a href="https://wetransfer.com", class="info-link", target="_blank">WeTransfer</a> in Amsterdam.</p>
      <br></br>
      <p><a href="https://github.com/bermannoah", class="info-link", target="_blank">github</a></p>
      <p><a href="mailto:noah@noahberman.org", class="info-link">email</a></p>
      <p><a href="https://twitter.com/additionaltext", class="info-link", target="_blank">twitter</a></p>
      <p><a href="https://www.instagram.com/additional.text/", class="info-link", target="_blank">instagram</a></p>
      <p><a href="https://www.linkedin.com/in/bermannoah/", class="info-link", target="_blank">linkedin</a></p>
  </div>
</div>