<div class="info">
  <h4>Projects</h4>
  <a href="#">Coffee Bot + Coffee Maker Bot</a>
  <br/>
  <a href="#">Vicarious.li</a>
  <br/>
  <a href="#">Adam Curtis Twitter Bot</a>
  <br/>
  <a href="#">Edualize</a>
  <br/>
  <a href="#">Rales Engine</a>
  <br/>
  <a href="#">Check-Please</a>
  <br/>
  <a href="#">Gitshrub</a>
  <br/>
  <a href="#">Today Page</a>
  <br/>
  <a href="#">Enigma</a>
  <br/>
  <a href="#">Only Happy When It Rains</a>
  <br/>
  <h4>Talks</h4>
  <a href="#">Security Is Hard Until It Isn't</a>
  <br/>
  <a href="#">Web Advertising Is The Actual Worst</a>
  <br/>
  <h4>Resume</h4>
  <a href="#", target="_blank">PDF</a>
  <br/>
  <a href="https://www.linkedin.com/in/bermannoah/", target="_blank">Web</a>
</div>