<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/repo-images/blob/master/adam-curtis-bot-tweets-2.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Adam Curtis Bot</h4>
      <h4 class="card-title portfolio-link"><a href="https://twitter.com/AdamCurtisBot", class="portfolio-link", target="_blank">Adam Curtis Twitter Bot</a> / <a href="https://github.com/bermannoah/adam-curtis-bot", class="portfolio-link", target="_blank">Adam Curtis Bot Repo</a></h4>
      <h6 class="card-meta">Rails, Twitter Gem + API, Wikipedia API, Heroku Scheduler, Solo Project</h6>
  </div>
  <div class="card-body portfolio-text">
    This slightly silly experiment posts tweets using the frequent <a href="https://en.wikipedia.org/wiki/Adam_Curtis", class="portfolio-link", target="_blank">Adam Curtis</a> intro of "This is a film about...", pulling subjects from a random noun generator and then searching wikipedia for that topic.
  </div>
</div>