<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/check-please/blob/master/homepage.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Check Please</h4>
      <h4 class="card-title portfolio-link"><a href="https://check-please.herokuapp.com/", class="portfolio-link", target="_blank">Check Please</a> / <a href="https://github.com/bermannoah/check-please", class="portfolio-link", target="_blank">Check Please Repo</a></h4>
      <h6 class="card-meta">Rails, PostgreSQL, S3 + Paperclip (image manipulation), Bootstrap, Stripe, RSpec, Paired Project</h6>
  </div>
  <div class="card-body portfolio-text">
    A point of sale system written in rails.
  </div>
</div>