<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/repo-images/blob/master/cb_logged_in.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Coffee Bot + Coffee Maker Bot</h4>
      <h4 class="card-title"><a href="https://coffeebot.coffee", target="_blank">Coffee Bot</a> </h4>
      <h6 class="card-meta">Rails, PostgreSQL, Spectre CSS, Express, Raspbian, Slack OAuth, Digital Ocean</h6>
  </div>
  <div class="card-body portfolio-text">
    Users can track and monitor coffee brewing using a robust Slack Bot. Coffee Maker Bot adds the ability (via a Raspberry Pi) to remotely start the brewing process.
  </div>
</div>