<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/repo-images/blob/master/pahlka-edualize-view-page-image.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Edualize</h4>
      <h4 class="card-title portfolio-link"><a href="https://edualize.herokuapp.com/", class="portfolio-link", target="_blank">Edualize</a> / <a href="https://github.com/Turing-Pahlka-Posse/Edualize", class="portfolio-link", target="_blank">Edualize Repo</a></h4>
      <h6 class="card-meta">Rails, PostgreSQL, Ruby based PDF Scraper (heavily customized) Spectre CSS, RSpec, Group Project</h6>
  </div>
  <div class="card-body portfolio-text">
    This is an API designed to collect and simplify US Education data, created by  <a href="https://github.com/Turing-Pahlka-Posse", class="portfolio-link", target="_blank">Pahlka Posse</a> (a civic tech group I currently co-lead at <a href="https://www.turing.io", class="portfolio-link", target="_blank">Turing School of Software and Design</a>).  
  </div>
</div>
