<div class="card card-fix">
  <div class="card-header">
      <h4 class="card-title portfolio-header">Rales Engine</h4>
      <h4 class="card-title portfolio-link"><a href="https://github.com/bermannoah/rales_engine", target="_blank">Rales Engine Repo</a></h4>
      <h6 class="card-meta">Rails, PostgreSQL, RSpec, Paired Project</h6>
  </div>
  <div class="card-body portfolio-text">
    A performance-focused API for detailed analysis of sales (written in rails, so, "rales") data. 
  </div>
</div>