<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/repo-images/blob/master/ci_homepage.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Vicarious.li</h4>
      <h4 class="card-title portfolio-link"><a href="https://vicarious.li", target="_blank">Vicarious.li</a> / <a href="https://github.com/bermannoah/vicarious.li", target="_blank">Vicariousli Repo</a></h4>
      <h6 class="card-meta">Rails, PostgreSQL, AWS, S3 + Paperclip (image manipulation), Bootstrap, Paired Project</h6>
  </div>
  <div class="card-body portfolio-text">
    Crowdfunding platform for users to raise funds. My first project using AWS as well as integrating Let’s Encrypt for on-the-fly SSL/TLS.

  </div>
</div>