<div class="card card-fix">
  <div class="card-image">
      <img src="https://github.com/bermannoah/repo-images/blob/master/ci_homepage.jpg?raw=true" class="img-responsive" />
  </div>
  <div class="card-header">
      <h4 class="card-title portfolio-header">Vicarious.li</h4>
      <h4 class="card-title portfolio-link"><a href="https://vicarious.li", target="_blank">Vicarious.li</a> / <a href="https://github.com/bermannoah/coffee-bot", target="_blank">Coffee Bot Repo</a> / <a href="https://github.com/bermannoah/coffee-maker-bot", target="_blank">Coffee Maker Bot Repo</a></h4>
      <h6 class="card-meta">Rails, PostgreSQL, Spectre CSS, Express, Raspbian, Slack OAuth, Digital Ocean</h6>
  </div>
  <div class="card-body portfolio-text">
    Users can track and monitor coffee brewing using a robust Slack Bot. Coffee Maker Bot adds the ability (via a Raspberry Pi) to remotely start the brewing process.
  </div>
</div>