 /* Text styles */

 .logo {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900 !important;
   color: #000;
   position: fixed;
   top: 30rem;
   right: 36.5rem;
   margin: 20px;
   margin-right: 75px;
   margin-top: 50px;
   border-bottom: 5px solid black;
 }

 .logo > a {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900;
 }

 .info {
   position: fixed;
   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   color: #000;
   right: 1.5rem;
   line-height: 40px;
   margin-right: 75px;
   margin-top: 50px;
 }

 .info > p {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-weight: 900;
 }
 
 .portfolio {
   position: absolute;
   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   color: #000;
   float: right;
   margin: 23px;
   margin-top: 50px;
   line-height: 40px;
   margin-left: 75px;
  }

 .portfolio-header {
   font-weight: bold;
 }

 .portfolio-text {
   font-weight: normal;
 }
 
 .portfolio-link {
   font-size: 2rem !important;
   font-weight: bold;
 }
 
 .card-fix {
   max-width: 50%;
   border: 1px solid black;
   margin-bottom: 15px;
 }
 /* Link styles */

 a {
   text-decoration: none;
   color: #008b8b;
 }

 a:hover {
  text-decoration: none;
  color: #AA8F00;
 }

 a:visited {
  text-decoration: none;
  color: #008b8b;
 }
 a:visited:hover {
  color: #AA8F00;
 }

 .logo > a {
  text-decoration: none;
  color: #000;
 }

 .logo > a:hover {
  text-decoration: none;
  color: #AA8F00;
 }

 .logo > a:visited {
  color: #000;
 }