/* Page styles */
 html {
   background-color: #fff;
  -webkit-animation: color_change 4s infinite alternate;
  -moz-animation: color_change 4s infinite alternate;
  -ms-animation: color_change 4s infinite alternate;
  -o-animation: color_change 4s infinite alternate;
  animation: color_change 4s infinite alternate;
  font-family: 'Roboto', sans-serif;
 }
 
 /* Keyframes */

@-webkit-keyframes color_change {
  from {background-color: #7CB0C2; }
  to {background-color: #C28E7C; }
}
@-moz-keyframes color_change {
  from {background-color: #7CB0C2; }
  to {background-color: #C28E7C; }
}
@-ms-keyframes color_change {
  from {background-color: #7CB0C2; }
  to {background-color: #C28E7C; }
}
@-o-keyframes color_change {
  from {background-color: #7CB0C2; }
  to {background-color: #C28E7C; }
}
@keyframes color_change {
  from {background-color: #7CB0C2; }
  to {background-color: #C28E7C; }
}

 
 /* Text styles */

 .logo {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900 !important;
   color: #000;
   margin: 20px;
   margin-right: 75px;
   margin-top: 50px;
   margin-bottom: 30px;
   border-bottom: 5px solid black;
   position: fixed;
   right: 31.5rem;
 }

 .logo > a {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900;
 }

 .info {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   color: #000;
   line-height: 30px;
   position: fixed;
   top: 18rem;
   right: 3rem;
 }

 .info > p {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-weight: 900;
 }
 
 .portfolio {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   color: #000;
   float: right;
   margin: 23px;
   margin-top: 50px;
   line-height: 40px;
   margin-left: 75px;
  }

 .portfolio-header {
   font-weight: bold;
 }

 .portfolio-text {
   font-weight: normal;
 }
 
 .portfolio-link {
   font-size: 2rem !important;
   font-weight: bold;
 }
 
 .card-fix {
   max-width: 50%;
   border: 1px solid black;
   margin-bottom: 15px;
 }
 /* Link styles */

 a {
   text-decoration: none;
   color: #fff;
 }

 a:hover {
  text-decoration: none;
  color: #000;
 }

 a:visited {
  text-decoration: none;
  color: #fff;
 }

 a:visited:hover {
  color: #000;
 }

 .logo > a {
  text-decoration: none;
  color: #000;
 }

 .logo > a:hover {
  text-decoration: none;
  color: #fff;
 }

 .logo > a:visited {
  color: #000;
 }
 
 .logo > a:visited:hover {
  color: #fff;
 }
 
 .portfolio-link > a {
  text-decoration: none;
  color: #000;
 }

 .portfolio-link > a:hover {
  text-decoration: none;
  color: #AA8F00;
 }

 .portfolio-link > a:visited:hover {
  color: #AA8F00;
 }

 .portfolio-link > a:visited {
  color: #000;
 }