 /* Text styles */

 .logo {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900 !important;
   color: #000;
   position: relative;
   margin: 20px;
   float: left;
   margin-top: 50px;
   margin-left: 75px;
   border-bottom: 5px solid black;
 }

 .logo > a {
   font-family: Helvetica, sans-serif;
   font-size: 50px;
   font-weight: 900;
 }

 .info {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   color: #000;
   position: relative;
   float: left;
   clear: both;
   margin: 23px;
   line-height: 40px;
   margin-left: 75px;
   padding: 5px;
 }

 .info > p {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-weight: 900;
 }
 
 .portfolio {
  position: relative;
  float: left;
  clear: both;
  margin: 23px;
  line-height: 40px;
  margin-left: 75px;
  padding: 5px;

 }

 .portfolio-header {
   font-weight: bold;
 }

 .portfolio-text {
   font-weight: normal;
 }
 
 .portfolio-link {
   font-size: 2rem !important;
   font-weight: bold;
 }
 
 .card-fix {
   max-width: 50%;
   border: 1px solid black;
 }
 /* Link styles */

 a {
   text-decoration: none;
   color: #008b8b;
 }

 a:hover {
  text-decoration: none;
  color: #AA8F00;
 }

 a:visited {
  text-decoration: none;
  color: #008b8b;
 }
 a:visited:hover {
  color: #AA8F00;
 }

 .logo > a {
  text-decoration: none;
  color: #000;
 }

 .logo > a:hover {
  text-decoration: none;
  color: #AA8F00;
 }

 .logo > a:visited {
  color: #000;
 }